<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Modificar Sueldo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>

    <body>

        <div class="container">

            <h1 class="text-center mt-5">MODIFICAR SUELDO</h1>

            <div class="row mt-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">



                            <form th:action="@{/admin/modificarSueldo/__${usuario.id}__}" method="POST">
                                <input hidden th:value= "${id}" name="id">

                                <div class="row g-3">
                                    
                                    <div class="form-group col-md-12">
                                        <strong><label for="cuerpo">Nombre del Periodista</label></strong>
                                        <input type="text" disabled name="nombre" th:value="${usuario.nombreUsuario}" class="form-control" rows="5" required></input>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                        <strong><label for="cuerpo">Email del Periodista</label></strong>
                                        <input type="email" disabled name="email" th:value="${usuario.email}" class="form-control" rows="5" required></input>
                                    </div>

                                    <!--PIDO EL SUELDO QUE LE CORRESPONDE A ESE USUARIO-->
                                    <div class="form-group col-md-12">
                                        <strong><label for="sueldo">SUELDO</label></strong>
                                        <input type="number" name="sueldo" class="form-control" placeholder="INGRESE EL SUELDO" required min="20000" max="100000">
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <button class="btn btn-danger" type="reset" style="width:100%">Resetear
                                            Formulario
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-success" type="submit" style="width:100%">Guardar</button>
                                    </div>
                                </div>

                                <!--DEBAJO DE CARD-BODY FUNCIONA-->
                                <!-- PARA ERRORES O EXITOS THYMELIFE-->
                                <!-- SI en el modelo existe una variable que esta inyectando un error lo vamos a mostrar-->
                                <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
                                    <div class="card-body">
                                        <h5 class="card-title">¡Error!</h5>
                                        <p class="card-text" th:text="${error}"></p>
                                    </div>
                                </div>

                                <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                                    <div class="card-body">
                                        <h5 class="card-title">Exito!</h5>
                                        <p class="card-text" th:text="${exito}"></p>
                                        <!-- SI en el modelo existe una variable que esta inyectando un EXITO lo vamos a mostrar-->
                                    </div>
                                </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <section th:replace="fragments/volverInicio :: _volver"></section>
        </div>
        <footer th:replace="fragments/footer :: _footer"></footer>

    </body>

</html>
